# Python Experiment No: 12

Name: Ritesh Gardare.       

Class: SE3/S3/61

In [2]:
import pandas as pd

print("Name: Ritesh Gardare.       Class: SE3/S3/61")
data = {
    "Product": ["Shoes", "T-Shirt", "Jacket", "Hat", "Socks"],
    "Price": [60, 20, 120, 15, 5],
    "Stock": [50, 100, 30, 80, 200],
    "Category": ["Clothing", "Clothing", "Clothing", "Accessories", "Accessories"]
}
df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

df["Discounted Price"] = df["Price"] * 0.85
print("\nDataFrame after adding Discounted Price:")
print(df)

filtered_df = df[df["Price"] > 50]
print("\nFiltered Products (Price > 50):")
print(filtered_df)

category_avg_price = df.groupby("Category")["Price"].mean()
print("\nAverage Price per Category:")
print(category_avg_price)

df.to_csv("product_data.csv", index=False)
print("\nData saved to product_data.csv")

Name: Ritesh Gardare.       Class: SE3/S3/61
Original DataFrame:
   Product  Price  Stock     Category
0    Shoes     60     50     Clothing
1  T-Shirt     20    100     Clothing
2   Jacket    120     30     Clothing
3      Hat     15     80  Accessories
4    Socks      5    200  Accessories

DataFrame after adding Discounted Price:
   Product  Price  Stock     Category  Discounted Price
0    Shoes     60     50     Clothing             51.00
1  T-Shirt     20    100     Clothing             17.00
2   Jacket    120     30     Clothing            102.00
3      Hat     15     80  Accessories             12.75
4    Socks      5    200  Accessories              4.25

Filtered Products (Price > 50):
  Product  Price  Stock  Category  Discounted Price
0   Shoes     60     50  Clothing              51.0
2  Jacket    120     30  Clothing             102.0

Average Price per Category:
Category
Accessories    10.000000
Clothing       66.666667
Name: Price, dtype: float64

Data saved to product_data.csv